.moment {
  height: 300px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.moment-image {
  z-index: 10;
  flex: 1;
  width: 180px;
  height: 180px;
}

.line {
  height: 100%;
  width: 5px;
  background-color: #c9a952;
  margin-left: 23%;
  position: absolute;
}

.moment-image img {
  width: 100%;
  background: white;
  border: 5px solid #c9a952;
  border-radius: 50%;
}

.moment-description {
  flex: 1;
}

.moment-description div {
  font-size: 20px;
}

@media (min-width: 768px) {
  .moment-description {
    flex: 3;
  }

  .moment-image {
    flex: none;
    width: 290px;
    height: 290px;
  }

  .line {
    margin-left: 140px;
  }
}
