<div class="section">
  <div class="time-line">
    <app-time-line-moment [yearData]="2014" [photoImg]="photo1" [description]="desc1"></app-time-line-moment>
    <app-time-line-moment [yearData]="2017" [photoImg]="photo2" [description]="desc2"></app-time-line-moment>
    <app-time-line-moment [yearData]="2018" [photoImg]="photo3" [description]="desc3"></app-time-line-moment>
    <app-time-line-moment [yearData]="2020" [photoImg]="photo4" [description]="desc4"></app-time-line-moment>
    <app-time-line-moment [yearData]="2021" [photoImg]="photo5" [description]="desc5"></app-time-line-moment>
  </div>
</div>
