
<app-navigation></app-navigation>
<div class="content">
  <div class="preview">
    <div class="title">
      <span>{{title}}</span>
    </div>
    <div class="wedding-time">
      <span>{{weddingTime}}</span>
    </div>
  </div>
  <div class="forever-title">
    <img src="assets/img/forever-top.png" alt="">
    <span>{{motoText}}</span>
    <img src="assets/img/forever-bottom.png" alt="">
  </div>
  <app-separator [parentData]="separator1" id="item1"></app-separator>
  <app-about-us></app-about-us>
  <app-separator [parentData]="separator2" id="item2"></app-separator>
  <app-time-location></app-time-location>
  <app-separator [parentData]="separator3" id="item3"></app-separator>
  <app-wedding-form></app-wedding-form>
  <app-separator [parentData]="separator4" id="item4"></app-separator>
  <app-contact></app-contact>
</div>
<router-outlet></router-outlet>
