<div class="top-nav">
  <div class="logo-img">
    <a href="#home" class="active">
      <img src="assets/img/logo.png" alt="logo">
    </a>
  </div>
  <div class="my-select">
    <div id="nav-icon3" [class.open]="isOpen" (click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div [ngClass]="{'close-menu': !this.isOpen, 'open-menu': this.isOpen}" class="nav-links" id="myLinks">
    <div class="nav-item">
      <a href="/">O NAS</a>
    </div>
    <div class="nav-item">
      <a href="#item2">MIESTO A CAS</a>
    </div>
    <div class="nav-item">
      <a href="#item3">SVADOBNY FORMULAR</a>
    </div>
    <div class="nav-item">
      <a href="/">KONTAKT</a>
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
