<div class="top-nav">
  <div class="logo-img">
    <a href="#home" class="active">
      <img src="assets/img/logo.jpg" alt="logo">
    </a>
  </div>
  <div class="my-select">
    <div id="nav-icon3" [class.open]="isOpen" (click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div [ngClass]="{'close-menu': !this.isOpen, 'open-menu': this.isOpen}" class="nav-links" id="myLinks">
    <div class="nav-item">
      <a href="#item1" (click)="openMenu()">O NÁS</a>
    </div>
    <div class="nav-item">
      <a href="#item2" (click)="openMenu()">MIESTO A ČAS</a>
    </div>
    <div class="nav-item">
      <a href="#item3" (click)="openMenu()">SVADOBNÝ FORMULÁR</a>
    </div>
    <div class="nav-item">
      <a href="#item4" (click)="openMenu()">KONTAKT</a>
    </div>
    <div class="nav-lang">
      <img src="assets/img/svk.jpg" alt="svk">
      <img src="assets/img/de.jpg" alt="de">
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
