<div class="section">
  <div class="container">
    <form action="https://mailthis.to/nasaSvadba"
      method="POST">
      <div class="form-group">
        <label for="Name">Name</label>
        <input
          class="form-control"
          type="text"
          name="Name"
          placeholder="Your name"
        />
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input
          class="form-control"
          type="email"
          name="Email"
          placeholder="Your email">
      </div>
      <input type="submit" value="Send">
    </form>
  </div>
</div>
