<div class="section">
  <div class="container">
    <form action="https://mailthis.to/svadbaMariTomo"
      method="POST">
      <div class="first-info">
        <div class="form-group">
          <label for="Name">{{name}}</label>
          <input
            class="form-control"
            type="text"
            name="Name"
            placeholder="{{placeholderName}}"
          />
        </div>
        <div class="form-group">
          <label for="come">{{come}}</label>
          <label>
           <input type="radio" value="yes" name="come">
             <span>{{option1}}</span>
         </label>
         <label>
           <input type="radio" value="no" name="come">
             <span>{{option2}}</span>
         </label>
        </div>
        <div class="form-group">
          <label for="contact">{{contact}}</label>
          <input
            class="form-control"
            type="text"
            name="contact"
            placeholder="{{placeholderContact}}">
        </div>
      </div>
      <div class="second-info">
        <div class="form-group">
          <label for="clasic">{{classicMenu}}</label>
          <textarea name="clasic" placeholder="{{placeholderMenu}}" style="height:90px"></textarea>
        </div>
        <div class="form-group">
          <label for="children">{{childrenMenu}}</label>
          <textarea name="children" placeholder="{{placeholderMenu}}" style="height:90px"></textarea>
        </div>
        <div class="form-group">
          <label for="vegie">{{vegieMenu}}</label>
          <textarea name="vegie" placeholder="{{placeholderMenu}}" style="height:90px"></textarea>
        </div>
      </div>
      <div class="third-info">
        <div class="form-group">
          <label for="music">{{music}}</label>
          <textarea name="music" placeholder="{{placeholderMusic}}" style="height:90px"></textarea>
        </div>
      </div>
      <input type="submit" value="{{buttonText}}">
    </form>
  </div>
</div>
